/* Give selected rows a green overlay */
/* .ProseMirror tr {
  position: relative;
}

/* Give selected cells a blue overlay */
/* .ProseMirror .selectedRow:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0; right: 0; top: 0; bottom: 0;
  background: #3DB24B;
  pointer-events: none;
} */

/* .ProseMirror .selectedRow::after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0; right: 0; top: 0; bottom: 0;
  border: 1px solid #3DB24B;
  border-bottom: none;
  pointer-events: none;
}

.ProseMirror .selectedRow + tr::after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0; right: 0; top: 0; bottom: 0;
  border-top: 1px solid #3DB24B;
  border-bottom: none;
  pointer-events: none;
} */