
.ProseMirror .ProseMirror-table-wrapper {
  white-space: normal;
  margin: 1em 0;
}

.ProseMirror table {
  margin: 0;
  white-space: pre-wrap;
  white-space: break-spaces;
}

.ProseMirror th, .ProseMirror td {
  min-width: 1em;
  border: 1px solid #ddd;
  padding: 3px 5px;
}