.ProseMirror-tablesidbar {
  position: relative;
}

.ProseMirror-tablesidbar-select-table {
  position: absolute;
  left: -21px;
  top: -21px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #DDD;
  border-radius: 50%;
}

.ProseMirror-tablesidbar-select-table::after {
  content: '';
  display: block;
  width: 6px;
  height: 2px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.ProseMirror-tablesidbar-row-container {
  position: absolute;
  left: -10px;
  top: 0;
  width: 10px;
}

.ProseMirror-tablesidbar-row {
  box-sizing: border-box;
  width: 100%;
  background: #F5F6F8;
  border-top: 1px solid #D8D9DA;
  cursor: pointer;
}

.ProseMirror-tablesidbar-row:first-child {
  border-top: 1px solid #fff;
}

.ProseMirror-tablesidbar-row:last-child {
  border-bottom: 1px solid #fff;
}


