.ProseMirror .selectedCell:after {
  display: none;
}

.ProseMirror table {
  position: relative;
}

.ProseMirror-drawCellSelection {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background: rgba(61, 178, 75, 0.04);
  border: 1px solid rgba(61, 178, 75, 1);;
  pointer-events: none;
}
