.ProseMirror .tableWrapper {
  overflow-x: auto;
}
.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.ProseMirror td, .ProseMirror th {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

/* Give selected cells a blue overlay */
/* .ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0; right: 0; top: 0; bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
} */


.ProseMirror .ProseMirror-table-wrapper {
  white-space: normal;
}

.ProseMirror table {
  overflow: visible;
  margin: 10px 0 0;
  white-space: pre-wrap;
  white-space: break-spaces;
}

.ProseMirror th, .ProseMirror td {
  min-width: 1em;
  border: 1px solid #ddd;
  padding: 3px 5px;
}