.ProseMirror .ProseMirror-table-wrapper {
  padding-right: 1px;
  white-space: normal;
}

.ProseMirror table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid #ddd;
}
.ProseMirror td, .ProseMirror th {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 3px 5px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.ProseMirror td:first-child, .ProseMirror th:first-child {
  border-left: 1px solid #ddd;
}
